h1{
    color:chocolate;
    background-color:yellow;
}

p{
    color:chartreuse;
    background-color:black;
    width: 184px;
}

#middle{
    background-color: blueviolet;
}

.text{
    background-color:brown;
}

span{
    color:blue;
    background-color:burlywood;
    width:300px
}